<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster vs Player</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="img/logobianco.png">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="js/app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster vs Player</h1>
    </header>
    <div id="game" v-cloak>
      <h2 style="text-align: center">Round Attuale: {{ roundAttuale + 1 }} </h2>
      <section id="monster" class="container">   
        <h2>Vita del Mostro</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHbClass"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Vita del Giocatore</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHbClass"></div>
        </div>
      </section>
      <section class="container" v-if=" esito !== '' ">
        <h2>{{ esito }}</h2>
        <button @click="resetGame">Nuova Partita</button>
      </section>
      <section id="controls">
        <button @click="attaccaMostro" :disabled="disattivaBottoni">ATTACCO</button>
        <button @click="attaccoSpecialeMostro" :disabled="!attaccoSpecialePronto">ATTACCO BONUS</button>
        <button @click="curaGiocatore" :disabled="disattivaBottoni">CURA</button>
        <button @click="resa" :disabled="disattivaBottoni">RESA</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="azione in azioni">
            <span :class="{'log--player': azione.azioneDa === 'Giocatore',
                           'log--monster': azione.azioneDa === 'Mostro'}">
            {{ azione.azioneDa === 'Giocatore' ? 'Il giocatore' : 'Il mostro' }}</span>
            <span v-if="azione.azioneTipo === 'cura'"> si è curato di <span class="log--heal">{{ azione.azioneQuanto }}</span></span>
            <span v-if="azione.azioneTipo === 'attaccoPotenziato'"> ha effettuato un attacco potenziato facendo <span class="log--damage">{{ azione.azioneQuanto }}</span> danni</span>
            <span v-if="azione.azioneTipo === 'attacco' && azione.azioneDa === 'Giocatore'"> ha attaccato facendo <span class="log--damage">{{ azione.azioneQuanto }}</span> danni</span>
            <span v-else-if="azione.azioneDa === 'Mostro'"> ha attaccato facendo <span class="log--damage">{{ azione.azioneQuanto }}</span> danni</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
